<div class="container">
    <div class="card">
           <h5 class="card-title">About Component</h5>
          <div class="card-body">
                <ul class="">
                      <li>Nom : {{info.nom}}</li>
                      <li>Email : {{info.email}}</li>
                      <li>Tel : {{info.tel}}</li>
                </ul>
                <div class="form-group">
                      <label>Message:</label>
                      <input type="text" [(ngModel)]="comment.message">
                      <button (click)="addComment()" [disabled]="newComment" class="btn btn-primary">Add comment</button>
                </div>
                <div *ngIf="comments.length>0; else noComments">
                      <h3>Liste des messages :</h3>
                      <ul class="list-group">
                            <li *ngFor="let c of comments" class="list-group-item">
                                {{c.id}}
                                {{c.message}}
                              
                            </li>
                      </ul>
                    </div>    
                    <ng-template #noComments>
                          <p> Liste des commentaires est vide</p>
                    </ng-template>
                
              </div>
            </div>
        </div>
